@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@300&display=swap");

* {
  font-family: "Big Shoulders Text", cursive;
}

.App {
  text-align: center;
  background-color: #001206;
}

:root {
  --primary-color: #9e9e9e;
  --secondary-color: #b89da1;
}

*::selection {
  color: #ffffff;
  background: var(--secondary-color);
}

/* Header */
/* .header {
  padding: 50px 0;
}
.logo-container {
  width: fit-content;
}
.header .logo {
  width: fit-content;
  font-size: 72px;
  margin-right: 20px;
  color: #000;
} */

.logo__image .gatsby-image-wrapper {
  max-width: 500px;
  display: block !important;
  margin: auto;
}

.Title .gatsby-image-wrapper {
  max-width: 350px;
  display: block !important;
  margin: auto;
}

header {
  margin-bottom: 40px;
}

.navbar {
  margin-top: 20px;
}

.navbar-brand h1 {
  color: #000;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-size: 20px;
  padding: 5px 25px;
}

/* Gallery */

.Gallery.container-fluid {
  max-width: 2000px;
  margin: auto;
}

.Gallery__img {
  padding: 0;
}

.row__1 {
  margin-bottom: -2px;
}

.row__3 {
  margin-bottom: -4px;
}

.img_box {
  margin-bottom: -15px;
}

.Gallery__row {
  /* margin-bottom: -70px; */
}

/* Title */
.Title {
  margin: 80px 0;
  text-align: center;
}

/* About */
.About {
  margin-top: 80px;
  max-width: 1040px;
}

.About__text {
  position: relative;
}

.About__describe {
  padding-bottom: 20px;
  border-bottom: 3px solid #fcdbe5;
  text-align: justify;
  font-size: 22px;
  line-height: 1.6;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

.About__contact {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 50px;
}

.About__contact .gatsby-image-wrapper {
  max-width: 200px;
}

.About__contact p {
  margin-bottom: 0;
  margin: auto 0;
  font-size: 22px;
  font-weight: 700;
}

.About .row {
  margin: 0 15px;
}

/* Footer */
.Footer {
  margin-top: 80px;
}

@media (max-width: 768px) {
  .About {
    margin-top: 0;
  }

  .About__text {
    padding: 30px 20px;
    order: 1;
  }

  .About__image {
    order: 2;
  }

  .About__describe {
    transform: translateX(0);
    position: relative;
    top: 0;
    border: 0;
  }

  .Title .gatsby-image-wrapper {
    max-width: 300px;
  }

  .Title {
    margin-bottom: 40px;
  }

  .Header__container {
    display: flex;
    justify-content: space-between;
  }

  .logo__image .gatsby-image-wrapper {
    max-width: 230px;
    margin-top: 15px;
  }

  .About__contact {
    flex-wrap: wrap;
  }

  .About__contact div,
  .About__contact p {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .About__contact p {
    padding: 20px 0;
  }
}

@media (max-width: 1024px) {
  .About__describe {
    font-size: 18px;
  }
}
